<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>React Sandbox - View 1</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="index.html">Page 1</a></li>
        <li><a href="page2.html">Page 2</a></li>
      </ul>
    </nav>
    <div id="root"></div>
    <script src="./public/vendor.bundle.js"></script>
    <script src="./public/common.bundle.js"></script>
    <script src="./public/page1.bundle.js"></script>
  </body>
</html>
